.chip {
  margin: 5px;
  padding: 2px 8px;
  background: #0d0a23;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  vertical-align: middle;
  letter-spacing: 0;

  &[data-mini="false"] {
    margin-right: 10px;
  }
}
