.accordion {
  margin: 20px 0;
  @include trim-v-margins;
}

.title {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: $serif;
  font-weight: $semi-bold;
  color: #fff;
  text-align: left;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    #db469f 70%,
    #9fb2e6 90%,
    #f0f6fc
  );
  border-bottom: 5px solid;

  i {
    margin-right: 10px;
  }
}

.reveal {
  text-align: left;
  padding: 30px;
}
